.username-field-wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.username-field-wrap > p {
  flex: 1;
  margin: 0;
}

span.searchKey {
  position: absolute;
  background: #f5f5f5;
  display: block;
  height: 40px;
  min-width: 77px;
  z-index: 9;
  line-height: 40px;
  text-align: left;
  padding: 0 12px 0 8px;
  font-size: 13px;
  cursor: pointer;
  text-transform: capitalize;
  border-right: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 1px;
}

.username-type {
  background: #f8fafb;
  display: block;
  height: 40px;
  min-width: 84px;
  line-height: 40px;
  position: relative;
  padding: 0 12px 0 8px;
  font-size: 13px;
  cursor: pointer;
  text-transform: capitalize;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 1px;
}

span.username-type:after {
  content: '';
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #939393 transparent transparent transparent;
  position: relative;
  left: 5px;
  top: 11px;
}

.username-type-filters {
  display: none;
}

.username-type-filters.on {
  background: #f8fafb;
  display: block;
  position: absolute;
  min-width: 84px;
  top: 39px;
  color: #6e6e6e;
  border-radius: 4px;
  left: -1px;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #dbdbdb;
  z-index: 999;
}

#usersDropdown {
  flex: 1;
}

#usersDropdown:focus-within ::ng-deep .ng-placeholder {
  display: none;
}

/* ::ng-deep #phoneNumberInput input {
  display: none;
} */

.add-user-btn {
  border-top: none !important;
  padding-top: 10px !important;
}

label.checkbox-container.centered-checkbox {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}

label.left-label {
  display: inline-block;
  vertical-align: top;
}

label.checkbox-container.centered-checkbox .checkmark {
  margin-top: 5px;
  margin-left: 5px;
}

h3 {
  border: 0;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: none;
}

.form-height {
  width: 1000px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-float {
  float: none;
  clear: both;
}

.form-container {
  display: flex;
}

.form-block {
  flex: 1;
  margin-bottom: 20px;
}

.inner-scroll {
  overflow: auto;
  max-height: 350px;
}

.form-block-item {
  position: relative;
  margin-bottom: 20px;
}

.bottom-split {
  border-bottom: 1px solid #dbdbdb;
}

.form-block.left-margin {
  margin-left: 15px;
}

.form-block.right-margin {
  margin-right: 15px;
}

p.submit a {
  float: left;
}

p.submit button span {
  text-transform: none !important;
}

@media only screen and (max-width: 1000px) {
  .form-container {
    flex-direction: column;
  }

  .form-block {
    width: 100%;
    margin: 5px !important;
  }

  .mobile-bottom-split {
    border-bottom: 1px solid #dbdbdb;
  }
}

p.half-width {
  width: calc(91% - 50px);
  float: left;
  clear: none;
  margin-right: 10px;
}

p.full-width {
  width: 100%;
  min-width: 100%;
}

div.full-width {
  width: 100%;
  min-width: 100%;
}

.module-d p.full-width textarea {
  height: 90px;
  min-height: 90px;
}

.permissions-field {
  font-size: 14px;
}

.participants-list {
  max-height: 250px;
  overflow: auto;
}

.required {
  font-size: 14px;
}

.form-block {
  margin-bottom: 0;
}

ngx-intl-tel-input.inter-input {
  width: 63px;
  border: 1px solid #ddd;
}
ngx-intl-tel-input.inter-input  ::ng-deep input.form-control {
  display: none;
}