#sub {
  border-top: none !important;
  padding-top: 0px !important;
}

#sub:before {
  border-top: none !important;
}

.items {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}

.btn-item {
  text-transform: none;
  padding-left: 10px !important;
}

.disable-btn a {
  background-color: white !important;
  border: 1px solid #dbdbdb;
  color: #9ba1a3;
}

.capitalize {
  text-transform: capitalize;
}

:host ::ng-deep .material-switch input[type='checkbox'] {
  display: none !important;
}

.drop-a:hover .drop {
  top: 27px !important;
}

.table-a tr > *:first-child {
  width: auto;
}

.title-cell {
  overflow: hidden;
  max-width: 1px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 760px) {
  .items {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 47.5em) {
  .items {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 370px) {
  .btn-item a {
    font-size: 10px !important;
  }
}
