<div [formGroup]="passwordForm" class="popup-a a form-d shown form-pass">
  <div class="box-outer modal-bg">
    <div class="box-inner">
      <div class="modal-header">
        <h2>
          <span translate>Change password</span>
        </h2>
      </div>
      <p
        class="form-h-element p-width"
        [ngClass]="{
          'invalid-field':
            (passwordForm.controls['currentPassword'].invalid && passwordForm.controls['currentPassword'].touched) ||
            currentPasswordIsInvalid
        }"
      >
        <label for="currentPassword"><span translate>Type your current password</span></label>
        <input
          id="currentPassword"
          formControlName="currentPassword"
          autocomplete="off"
          placeholder="{{ 'Current Password' | translate }}"
          type="password"
        />
      </p>
      <p
        app-ca-translate
        class="required"
        message="FieldRequiredException"
        *ngIf="
          passwordForm.get('currentPassword')?.invalid &&
          (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)
        "
      ></p>
      <p app-ca-translate class="required" message="LoginPasswordException" *ngIf="currentPasswordIsInvalid"></p>

      <p class="form-h-element p-width">
        <label for="" translate>New Password</label>
        <input
          formControlName="newPassword"
          autocomplete="off"
          placeholder="{{ 'New Password' | translate }}"
          type="password"
          maxlength="250"
          (keyup)="CheckPasswordValidation('newPassword')"
          (focus)="isShowNewPassword = true"
          (focusout)="isShowNewPassword = false"
        />
        <app-password-validation
          #passwordFieldNewPassword
          boxType="new_password"
          [password]="passwordForm.controls['newPassword'].value"
          [hidden]="!isShowNewPassword"
        >
        </app-password-validation>
      </p>

      <p class="form-h-element p-width">
        <label for="" translate>Confirm Password</label>
        <input
          formControlName="confirmPassword"
          placeholder="{{ 'Confirm Password' | translate }}"
          autocomplete="off"
          type="password"
          maxlength="250"
          (keyup)="CheckPasswordValidation('confirmPassword')"
          (focus)="isShowConfirmPassword = true; passwordValidationConfirmPassword.isPasswordsEqual = true"
          (focusout)="isShowConfirmPassword = false; passwordValidationConfirmPassword.isPasswordsEqual = false"
        />
        <app-password-validation
          #passwordValidationConfirmPassword
          boxType="confirm_password"
          [password]="passwordForm.controls['confirmPassword'].value"
          [hidden]="!isShowConfirmPassword"
        >
        </app-password-validation>
      </p>

      <p class="submit">
        <a (click)="closeModal()" translate>Cancel</a>
        <button type="submit" [disabled]="passwordForm.invalid" (click)="onUpdatePassword()">
          <span translate>Change password</span>
        </button>
      </p>
    </div>
  </div>
</div>
