.mb-0 {
  margin-bottom: 0px !important;
}

.prepend {
  font-weight: bold;
  margin-top: 3px;
  font-size: 15px;
}

.prepend span {
  background: #f8fafb;
  color: #667074;
  border: 1px solid #dbdbdb;
  padding: 9.5px;
  margin-right: -5px;
  border-radius: 3px;
}

.custom-fields-group {
  height: 200px;
  max-width: 400px;
}

#accept-invitation-content button span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#accept-invitation-content input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

p.submit button[type='submit'] {
  float: right;
  margin: 0;
  line-height: 20px;
}

#card-container {
  min-height: 90px;
}

@media screen and (max-width: 500px) {
  #card-container {
    min-height: 140px;
  }
}

@media screen and (min-width: 1000px) {
  .payment-container {
    display: flex;
  }
}

.payment-container > div {
  flex: 1;
  margin: 20px 0px 0 0px;
}

.payment-holder > input,
.payment-address > input {
  font-size: 14px;
  padding: 10px;
  max-width: 400px;
}

figure {
  display: flex;
  margin: 0;
}

figure div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  margin-bottom: 10px;
}

figure div h6 {
  text-transform: none;
  margin: 0;
}

.figure {
  text-align: right;
  padding-right: 50px;
}

.notation-label {
  display: inline-block;
  margin-left: 30px;
}

.form-h-element {
  max-width: 400px;
}

.form-h input {
  max-width: 400px;
}

div.tabs {
  border: 0;
  margin: 0;
  padding: 20px 0 0 0;
}

div.tabs ul {
  border: 0;
  margin-bottom: 5px;
  background-color: transparent;
}

.tabs > ul > li > a {
  cursor: auto;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item {
  width: calc(50% - 20px);
}

.clean-tabs {
  margin-bottom: 20px !important;
}

.semantic-select-wrapper {
  max-width: 400px;
}

.display-none {
  display: none;
}
