<article class="module-f" id="content">
  <figure>
    <img alt="Placeholder" width="108" height="120" src="images/illustrations/monitor.svg" />
  </figure>
  <h2 translate>Set Your New Password</h2>

  <header>
    <p>
      <span class="space-margin-after" translate>A code has been sent to</span>
      {{ resetPasswordConfirmForm.get('username')?.value }}
    </p>
  </header>

  <form
    name="resetPasswordConfirmForm"
    [formGroup]="resetPasswordConfirmForm"
    (ngSubmit)="submitConfirmation()"
    class="form-e"
    novalidate
  >
    <p class="notice-a success" *ngIf="message" app-ca-translate [message]="message"></p>
    <p *ngIf="resetPasswordConfirmForm?.get('username')?.value">
      <label for="username" translate>Username</label>
      <input
        id="username"
        formControlName="username"
        autocomplete="username"
        name="username"
        placeholder="{{ 'Username' | translate }}"
        type="text"
      />
    </p>

    <p>
      <label for="code" translate>Code</label>
      <input
        id="code"
        autocomplete="code"
        formControlName="code"
        name="code"
        placeholder="{{ 'Code' | translate }}"
        type="text"
      />
      <span app-ca-error *ngIf="confirmRequestError?.length" [errors]="confirmRequestError" [location]="'code'"></span>
    </p>
    <p
      app-ca-translate
      class="required"
      message="FieldRequiredException"
      *ngIf="control('code').invalid && (control('code').dirty || control('code').touched)"
    ></p>

    <p>
      <label for="new_password" translate>New Password</label>
      <input
        id="new_password"
        name="new_password"
        formControlName="new_password"
        type="password"
        autocomplete="new_password"
        placeholder="{{ 'New Password' | translate }}"
        type="password"
        maxlength="250"
        (keyup)="checkPasswordValidation('newPassword')"
        (focus)="isShowNewPassword = true"
        (focusout)="isShowNewPassword = false"
      />
      <app-password-validation
        #passwordFieldNewPassword
        boxType="new_password"
        [password]="resetPasswordConfirmForm.controls['new_password'].value"
        [hidden]="!isShowNewPassword"
      >
      </app-password-validation>
    </p>

    <p>
      <label for="new_confirm_password" translate>Confirm Password</label>
      <input
        id="new_confirm_password"
        name="new_confirm_password"
        formControlName="confirmNewPassword"
        placeholder="{{ 'Confirm Password' | translate }}"
        autocomplete="new-password"
        type="password"
        maxlength="250"
        (keyup)="checkPasswordValidation('confirmPassword')"
        (focus)="isShowConfirmPassword = true; passwordValidationConfirmPassword.isPasswordsEqual = true"
        (focusout)="isShowConfirmPassword = false; passwordValidationConfirmPassword.isPasswordsEqual = false"
      />
      <app-password-validation
        #passwordValidationConfirmPassword
        boxType="confirm_password"
        [password]="resetPasswordConfirmForm.controls['confirmNewPassword'].value"
        [hidden]="
          !isShowConfirmPassword ||
          resetPasswordConfirmForm.controls['new_password'].value ===
            resetPasswordConfirmForm.controls['confirmNewPassword'].value
        "
      >
      </app-password-validation>
    </p>

    <p>
      <button type="submit" [disabled]="resetPasswordConfirmForm.invalid || loading">
        <span *ngIf="!loading" translate>Change Password</span>
        <span *ngIf="loading" translate>Changing...</span>
      </button>
    </p>
  </form>

  <ul class="list-e">
    <li>
      <a routerLink="/login" translate>Login</a>
    </li>
    <li>
      <a routerLink="/reset-password" translate>Forgot password?</a>
    </li>
    <li>
      <a routerLink="/support" translate>Help</a>
    </li>
  </ul>

  <footer></footer>
</article>
