<form method="post" title="upload-document" class="popup-a a form-d shown">
  <div class="box-outer">
    <div class="box-inner">
      <div class="header-content">
        <img class="user-avatar" [src]="getUserAvatar(ticket.created_by, $any(50))" alt="" />

        <div>
          <div class="full-name">{{ showUserName(ticket.created_by) }}</div>
          <div class="date">
            <i class="icon-calendar2"></i>
            <span>{{ showLocalDate(ticket.created_on) | date : 'EEEE, MMMM d, y, h:mm:ss a' }}</span>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="form-container">
          <div class="form-block right-margin">
            <div>
              <div class="full-width">
                <div class="user-comment">{{ ticket.message }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container">
          <div class="form-block right-margin">
            <div>
              <ng-container *ngIf="ticket.comments?.length">
                <ul class="list-j mobile-comments-hide">
                  <li class="has-close" #ticketComment *ngFor="let comment of ticket.comments; let index = index">
                    <img [src]="getUserAvatar(comment.user_id, '50')" alt="" />
                    <span class="title"
                      >{{ showUserName(comment.user_id) }},
                      <span>{{ showLocalDate(comment.created_on) | date : 'EEEE, MMMM d, y, h:mm:ss a' }}</span>
                    </span>
                    <p class="comment-message">{{ comment.message }}</p>
                  </li>
                </ul>

                <p class="post-comment-wrapper">
                  <label *ngIf="!inputValue" (click)="textarea.focus()" translate>Write a comment....</label>

                  <textarea #textarea [(ngModel)]="inputValue" [ngModelOptions]="{ standalone: true }"></textarea>

                  <button type="submit" (click)="postComment()" translate>Post</button>
                </p>
              </ng-container>

              <ng-container *ngIf="!ticket.comments?.length">
                <p class="post-comment-wrapper">
                  <label *ngIf="!inputValue" (click)="textarea.focus()" translate>Write a comment....</label>

                  <textarea #textarea [(ngModel)]="inputValue" [ngModelOptions]="{ standalone: true }"></textarea>

                  <button type="submit" (click)="postComment()" translate>Post</button>
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <a class="close" (click)="close()" translate>Close</a>
    </div>
    <a class="close" (click)="close()" translate>Close</a>
  </div>
</form>
