<div [formGroup]="passwordForm">
  <p class="triple a">
    <span>
      <span
        class=""
        [ngClass]="{
          'invalid-field':
            (passwordForm.controls['currentPassword'].invalid && passwordForm.controls['currentPassword'].touched) ||
            currentPasswordIsInvalid
        }"
      >
        <label for="password-text-field"><span translate>Type your current password</span></label>
        <input
          id="password-text-field"
          name="password-text-field"
          formControlName="currentPassword"
          autocomplete="current-password"
          placeholder="{{ 'Current Password' | translate }}"
          type="password"
        />
      </span>
      <p
        app-ca-translate
        class="required"
        message="FieldRequiredException"
        *ngIf="
          passwordForm.get('currentPassword')?.invalid &&
          (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)
        "
      ></p>
      <p app-ca-translate class="required" message="LoginPasswordException" *ngIf="currentPasswordIsInvalid"></p>
    </span>

    <span class="">
      <span class="">
        <label for="new-password-text-field" translate>New Password</label>
        <input
          id="new-password-text-field"
          name="new-password-text-field"
          autocomplete="new-password"
          formControlName="newPassword"
          placeholder="{{ 'New Password' | translate }}"
          type="password"
          maxlength="250"
          (keyup)="CheckPasswordValidation('newPassword')"
          (focus)="isShowNewPassword = true"
          (focusout)="isShowNewPassword = false"
        />
        <app-password-validation
          #passwordFieldNewPassword
          boxType="new_password"
          [password]="passwordForm.controls['newPassword'].value"
          [hidden]="!isShowNewPassword"
        >
        </app-password-validation>
      </span>
    </span>
    <span class="">
      <span class="">
        <label for="confirm-password-text-field" translate>Confirm Password</label>
        <input
          id="confirm-password-text-field"
          name="confirm-password-text-field"
          formControlName="confirmPassword"
          placeholder="{{ 'Confirm Password' | translate }}"
          autocomplete="new-password"
          type="password"
          maxlength="250"
          (keyup)="CheckPasswordValidation('confirmPassword')"
          (focus)="isShowConfirmPassword = true; passwordValidationConfirmPassword.isPasswordsEqual = true"
          (focusout)="isShowConfirmPassword = false; passwordValidationConfirmPassword.isPasswordsEqual = false"
        />
        <app-password-validation
          #passwordValidationConfirmPassword
          boxType="confirm_password"
          [password]="passwordForm.controls['confirmPassword'].value"
          [hidden]="!isShowConfirmPassword"
        >
        </app-password-validation>
      </span>
    </span>
  </p>
</div>
