#content {
  margin-top: 10px;
}

.action-title-button {
  background: transparent;
  margin: 0 0 0 20px;
  float: none;
  padding: 1px 15px 0;
  color: #16b0c5;
}

.action-title-button:hover {
  color: white;
  background: #16b0c5;
}

.icon-plus {
  transition: none;
  font-size: 16px;
  top: 3px;
  position: relative;
}

.icon-plus:before {
  transition: none;
}

.action-title-h3 {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.pagination_container {
  display: flex;
  justify-content: center;
}

.pagination_container > span {
  margin: 20px 0 0;
  padding: 0 10px 0;
  min-width: 200px;
}

.action-remove-button {
  background: transparent;
  float: none;
  padding: 0 7px 0;
  color: #16b0c5;
  text-transform: none;
}

.action-remove-button:hover {
  color: white;
  background: #16b0c5;
}

@media only screen and (max-width: 500px) {
  .action-title-button {
    width: 70px;
    padding: 1px 5px 0;
    margin: 0 0 0 10px;
  }
}

#sub {
  border-top: none !important;
  padding-top: 0px !important;
}

#sub:before {
  border-top: none !important;
}
.items {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}

.btn-item {
  text-transform: none;
  padding-left: 10px !important;
}

.disable-btn a {
  background-color: white !important;
  border: 1px solid #dbdbdb;
  color: #9ba1a3;
}

.drop-a.dropform .drop {
  margin-top: 0 !important;
}

@media screen and (max-width: 760px) {
  .items {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 47.5em) {
  .items {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 370px) {
  .btn-item a {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 500px) {
  .action-title-button {
    width: 70px;
    padding: 1px 5px 0;
    margin: 0 0 0 10px;
  }
}
