h2 {
  font-size: 24px;
}

#content.module-d {
  background: #f7f9fb;
  border: none;
  margin: 0;
  padding: 0;
}

#content > div {
  display: flex;
}

.main-content {
  flex: 1;
}

.header-content {
  background: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  padding: 0 15px;
  border-bottom: solid 1px #dbdbdb;
}

.header-breadcrumb {
  border: none;
  color: #667074;
  margin: 0;
  padding: 0;
}

.header-breadcrumb img {
  margin: 0 11px;
}

figure {
  margin-top: 0;
}

.content-left-panel {
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  position: relative;
  width: 250px;
  /* padding: 0 100px; */
  z-index: 10;
}

.content-left-panel-inner {
  bottom: 24px;
  left: 0;
  /* position: absolute; */
  right: 0;
  top: 88px;
}

.left-panel-title {
  border: none;
  color: #667074;
  margin: 26px 0 26px 50px !important;
}

.doc-page {
  align-items: center;
  color: #667074;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
}

.doc-page img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  height: 130px !important;
  margin-bottom: 16px;
  width: 100px;
}

.content-main-panel {
  flex: 1;
  width: 100%;
}

.content-right-panel {
  background-color: #fff;
  border-left: 1px solid #dbdbdb;
  padding: 26px 30px;
  width: 330px;
}

.right-panel-title {
  border: none;
  color: #667074;
  font-size: 24px;
  margin-bottom: 25px;
  padding: 0;
}

.properties-section {
  margin-bottom: 40px;
}

.property-page-title {
  color: #9ba1a3;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.property-section {
  align-items: center;
  color: #4b5153;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin: 0 -10px 0 -9px;
}

.property-section > div:first-of-type {
  align-items: center;
  display: flex;
}

.property-section > div:first-of-type span {
  padding-top: 1px;
}

.doc-toolbar {
  align-items: center;
  background-color: #fff;
  border-bottom: solid 1px #dbdbdb;
  display: flex;
  height: 80px;
  padding: 10px 16px;
}

.doc-toolbar .pages-navigation {
  margin: 0;
}

.doc-toolbar .pages-navigation > .nav-button {
  align-items: center;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  height: 22px;
  width: 22px;
}

.doc-toolbar .pages-navigation > .nav-button:first-of-type {
  margin: 0 10px 0 0;
  padding-right: 1px;
}

.doc-toolbar .pages-navigation > .nav-button:last-of-type {
  margin: 0 0 0 10px;
}

.doc-toolbar .pages-navigation > .nav-button:first-of-type img {
  transform: rotate(180deg);
}

.doc-toolbar .zoom-section {
  align-items: center;
  border-left: solid 1px #dbdbdb;
  border-right: solid 1px #dbdbdb;
  display: flex;
  height: 100%;
  margin: 0 24px;
  padding: 0 24px;
}

.doc-toolbar .zoom-section .zoom-button {
  align-items: center;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.doc-toolbar .zoom-section .zoom-button:first-of-type {
  margin-right: 6px;
}

.doc-toolbar .field-type-section {
  align-items: center;
  display: flex;
}

.doc-toolbar .field-type-section .field-type-select {
  margin-right: 16px;
  width: 250px;
}

.doc-toolbar .field-type-section .field-type-button {
  height: 40px;
  line-height: 15px;
  margin: 0;
  padding: 12px 16px;
  width: 80px;
}

.more-to-feed-menu {
  right: 30px;
  top: 20px;
  overflow: hidden;
  height: 24px;
  width: 27px;
  cursor: pointer;
}

.more-to-feed-menu .ins {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background-color: #fff;
  min-width: 100px;
  margin-left: -70px;
  position: relative;
  z-index: 2;
}

.more-to-feed-menu:before {
  display: block;
  clear: both;
  width: 30px;
  height: 25px;
  content: url(/images/icons/ic_more_horiz_black_24px.svg);
  opacity: 0.3;
}

.more-to-feed-menu:hover:before {
  opacity: 0.4;
}

.more-to-feed-menu.expanded {
  overflow: visible;
}

.m-item {
  padding: 0 6px;
  font-size: 14px;
  background: #fff;
}

.m-item:hover {
  background: #f7f7f7;
}

.document-image-wrapper {
  margin-top: 40px;
  max-width: 100%;
  padding: 0 20px;
  height: 100%;
}

.documents-list {
  width: 100%;
  overflow-y: auto;
}

.pinch-zoom-wrapper {
  min-width: 565px;
  max-width: 32%;
  margin: 0 auto;
}

/* .pinch-zoom-wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
} */

.module-d .submit:last-child {
  clear: both;
}

.no-options {
  border-top: 1px solid #dbdbdb;
  padding-top: 15px;
}

.box-inner td {
  border: 0;
}

.form-d .options-list {
  margin-bottom: 0;
}

.popup-a .box-outer {
  top: 0px !important;
}

.options-field button {
  width: 90px;
  padding: 4px;
  margin: 0;
  display: inline-block;
  float: none;
}

.options-field input[type='text'] {
  display: inline-block;
  width: calc(100% - 110px);
  margin-right: 20px;
}

.list-m {
  margin-top: 40px;
}

.gallery-b.docs-block {
  margin-top: 40px;
  padding: 0 216px 0 216px;
}

.text-bold {
  font-weight: bold;
}

@media only screen and (max-width: 62.5em) {
  .content-left-panel {
    display: none;
  }

  .content-right-panel {
    display: none;
  }
}

@media only screen and (max-width: 42.5em) {
  .doc-toolbar {
    flex-direction: column;
    height: 150px;
  }

  .header-content {
    margin-left: unset !important;
  }

  .main-content {
    width: 100%;
  }

  .gallery-b.docs-block {
    padding: 0 12px !important;
  }
}

.transparent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  background-color: transparent;
}
app-checkbox-select ::ng-deep .view-perimissions {
  width: 100%;
}

app-checkbox-select ::ng-deep .semantic-select-wrapper .semantic-select .text {
  display: none;
}

app-checkbox-select ::ng-deep .semantic-select-wrapper .semantic-select .input {
  height: 40px;
  line-height: 38px;
}

app-checkbox-select ::ng-deep .semantic-select-wrapper .semantic-select .ticker:before {
  font-size: 14px;
}

app-checkbox-select ::ng-deep .semantic-select-wrapper .semantic-select .select-ffe {
  top: 43px;
}

app-checkbox-select ::ng-deep .semantic-select-wrapper .semantic-select .select-ffe li a {
  line-height: 40px !important;
  color: #3f3f3f;
}

app-checkbox-select ::ng-deep .semantic-select-wrapper .semantic-select .select-ffe li label {
  top: 10px;
}

.input-remove {
  position: unset;
}

::ng-deep .material-switch > input[type='checkbox']:checked + label::after,
::ng-deep .material-switch > input[type='checkbox']:checked + label::before {
  background: #16b0c5 !important;
}

material-slide-toggle {
  display: unset !important;
  text-align: left !important;
}

.saving-notification {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.forms-loading-icon {
  width: 12px;
  margin-right: 5px !important;
  margin-left: 0 !important;
}

.header-breadcrumb > span {
  vertical-align: middle;
}

.header-breadcrumb {
  display: block;
}

:host ::ng-deep .pinch-zoom-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
  touch-action: none;
}

.sub-menu-popup {
  position: absolute;
  right: -83px;
  width: 160px;
  border: 2px solid #16b0c5;
  background: white;
  z-index: 999;
  border-radius: 5px;
}

.sub-menu-popup.element {
  right: 0px;
  top: 30px;
}

.sub-menu-popup p {
  padding: 15px 20px;
  font-size: 1em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sub-menu-popup p:hover {
  background: #f7f0fb;
}

.popup-a .box-inner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-a .box-inner app-loader {
  position: absolute;
  z-index: 999;
  bottom: 10%;
}
.page-menu-item {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.page-menu-item:hover .section {
  border: 1px solid transparent;
  background: white;
}

.page-menu-item .sub-menu {
  display: none;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: solid 1px #dbdbdb;
  background-color: #f7f9fb;
  border-radius: 50%;
  position: absolute;
  top: 45px;
}
.page-menu-item:hover .sub-menu {
  display: block;
}
::ng-deep cdk-virtual-scroll-viewport {
  display: unset !important;
}

::ng-deep cdk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper {
  contain: unset;
  width: 250px;
  position: relative;
}

.options-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 70px 40px;
}

.option {
  border: 2px solid #d8d8d8;
  border-radius: 16px;
  color: #4b5153;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 16px;
  width: 211px;
  height: 150px;
  cursor: pointer;
  margin-right: 16px;
  position: relative;
}

.option span.option-label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  font-weight: 600;
}

.option span.option-icon {
  margin-bottom: 16px;
}

.option:last-child {
  margin-right: 0;
}

.option:hover {
  border-color: #15afc5;
  background: #f7f9fb;
}

@media only screen and (max-width: 761px) {
  .options-wrapper {
    margin: 77px 40px;
  }
}

.xLine {
  width: 100%;
  height: calc(var(--moving-lines-size) * 1px);
  border: calc(var(--moving-lines-size) * 1px) dotted #777;
  border-bottom: none;
  position: absolute;
  top: calc(var(--moving-lines-size) * -1px);
  z-index: 999;
}

.yLine {
  width: calc(var(--moving-lines-size) * 1px);
  height: 100%;
  border: calc(var(--moving-lines-size) * 1px) dotted #777;
  border-right: none;
  position: absolute;
  left: calc(var(--moving-lines-size) * -1px);
  z-index: 999;
}

.option input.file {
  width: 100%;
  min-height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.cursor-icon {
  margin-top: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background: transparent;
  border-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-icon ::ng-deep svg {
  margin: 0;
}