<section id="content" xmlns="http://www.w3.org/1999/html">
  <header class="heading-a">
    <h2>
      <span class="small" [innerHTML]="'Explore' | translate"></span>
      <span [innerHTML]="'All case communication in one spot' | translate"></span>
    </h2>
    <p
      [innerHTML]="
        'Converse, post updates, answer questions, take notes, comment, and have all discussions tagged by real-time email and SMS notifications.'
          | translate
      "
    ></p>
    <figure class="image-a a">
      <img src="/images/content/f.jpg" alt="" width="1138" height="848" />
    </figure>
  </header>
  <div class="news-a">
    <article>
      <figure>
        <img src="/images/icons/share2.svg" alt="" width="26" height="22" />
      </figure>
      <h3 [innerHtml]="'Share with confidence' | translate"></h3>
      <p
        [innerHTML]="
          'Share documents and photos between clients and team members across any and all devices, so everyone keeps up-to-date.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/take_it.svg" alt="" width="23" height="30" />
      </figure>
      <h3 [innerHtml]="'Take it on the go' | translate"></h3>
      <p
        [innerHTML]="
          'Use mobile devices like tablets and smartphones to collaborate on key details, discuss major issues, exchange documents, and chart case progress in real time.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/immediate.svg" alt="" width="21" height="22" />
      </figure>
      <h3 [innerHtml]="'Immediate records access' | translate"></h3>
      <p
        [innerHTML]="
          'Authorized users can quickly access client data and case information (including current, past, open, closed, and pending cases), all through one portal.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/time_zone.svg" alt="" width="26" height="26" />
      </figure>
      <h3 [innerHtml]="'Automatic timezone conversion' | translate"></h3>
      <p
        [innerHTML]="
          'Whether traveling or staying in another location, you’ll be in sync with our time-zone conversation management system.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/track_events.svg" alt="" width="37" height="36" />
      </figure>
      <h3 [innerHtml]="'Track Events' | translate"></h3>
      <p
        [innerHTML]="
          'Quickly schedule meetings, monitor upcoming events, and invite clients and team members as attendees.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/video.svg" alt="" width="33" height="21" />
      </figure>
      <h3 [innerHtml]="'Video Conferencing' | translate"></h3>
      <p
        [innerHTML]="
          'Connect with clients and team members via live video chats for even more interactivity.' | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/associate.svg" alt="" width="31" height="17" />
      </figure>
      <h3 [innerHtml]="'After Actions' | translate"></h3>
      <p [innerHTML]="'Automate tasks when a case is created or a user is assigned to a case.' | translate"></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/alerts.svg" alt="" width="27" height="27" />
      </figure>
      <h3 [innerHtml]="'Automated Alerts' | translate"></h3>
      <p
        [innerHTML]="
          'Want to wish your clients a Happy Birthday? Set up an automatic message for both past and current clients for their special day!'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/keeping.svg" alt="" width="24" height="30" />
      </figure>
      <h3 [innerHtml]="'Keeping Client details up-to-date' | translate"></h3>
      <p
        [innerHTML]="
          'Clients can modify their profiles with updated data, photos, passwords, and account settings.' | translate
        "
      ></p>
    </article>
  </div>

  <div class="news-b">
    <article appScrollSlides>
      <h3 [innerHtml]="'Ask Questions, Get Answers.' | translate"></h3>
      <p
        [innerHTML]="
          'Create custom forms and send them to clients for completion. Gather essential information, provide exit surveys, and get all the data you need to do your job well!'
            | translate
        "
      ></p>
      <figure>
        <img src="/images/content/c.jpg" alt="" width="974" height="690" />
      </figure>
      <p class="quote-a">
        <img src="/images/profile/VIOLETCHERRY.png" alt="" width="58" height="58" />
        <q
          [innerHTML]="
            'Case forms allow us to listen and learn, helping us increase sales through customer feedback..' | translate
          "
        ></q>
        <span class="overlay-a strong text-uppercase" translate>Violet Cherry</span>
        <span [innerHTML]="', Director of Sales of Cain &amp; Company' | translate"></span>
      </p>
    </article>
    <article appScrollSlides>
      <h3 translate>As-You-Go Invoicing</h3>
      <p
        [innerHTML]="
          'Make client billing as straightforward as possible with online invoices and payments.' | translate
        "
      ></p>
      <figure>
        <img src="/images/content/d.jpg" alt="" width="974" height="690" />
      </figure>
      <p class="quote-a">
        <img src="/images/profile/KENNYHERNDON.png" alt="" width="58" height="58" />
        <q
          [innerHTML]="
            'We love the case invoicing because it lets clients see exactly what they’re paying for.' | translate
          "
        ></q>
        <span class="overlay-a strong text-uppercase" translate>Kenny Herndon</span>
        <span [innerHTML]="', Vice President of Sky Digital' | translate"></span>
      </p>
    </article>
    <article appScrollSlides>
      <h3 [innerHTML]="'Enjoy the ease of e-signing' | translate"></h3>
      <p
        [innerHTML]="
          'Electronically sign off all documents through DocSign, using uploaded documents and digital client signature requests and confirmation.'
            | translate
        "
      ></p>
      <figure>
        <img src="/images/content/e.jpg" alt="" width="974" height="690" />
      </figure>
      <p class="quote-a">
        <img src="/images/profile/PATRICKBENNETT.png" alt="" width="58" height="58" />
        <q
          [innerHTML]="
            'Upload a document, mark it for signature, and then the client logs in and e-signs it. Everything gets done without the client having to come into our building. This is handy with clients who aren’t close to an office or who live out-of-state..'
              | translate
          "
        ></q>
        <span class="overlay-a strong text-uppercase" translate>Patrick Bennett</span>
        <span [innerHTML]="', Director of Operations of Capital Insurance' | translate"></span>
      </p>
    </article>
  </div>

  <figure class="dots mobile-hide">
    <img src="/images/illustrations/desktop.svg" alt="" width="1140" height="493" />
  </figure>
  <h2
    class="text-center mobile-text-left"
    [innerHTML]="'Enhance Your System. Less Work, More Results.' | translate"
  ></h2>
  <div class="news-a a">
    <article>
      <figure>
        <img src="/images/icons/self_servey.svg" alt="" width="24" height="24" />
      </figure>
      <h3 [innerHTML]="'Use the Self-Serve Administrative Feature' | translate"></h3>
      <p
        [innerHTML]="'Take total control of your CaseActive management suite from the platform itself.' | translate"
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/icons/effortlessly.svg" alt="" width="23" height="23" />
      </figure>
      <h3 [innerHTML]="'Effortlessly link your existing system with CaseActive' | translate"></h3>
      <p
        [innerHTML]="
          'Integrate our proprietary API to automatically create cases, assign users, and generate reports based on your system input.'
            | translate
        "
      ></p>
    </article>
  </div>
  <div class="scheme-a a">
    <span class="inner">
      <span [innerHTML]="'Acting as a' | translate"></span>&nbsp;
      <span class="u" [innerHTML]="'virtual administrative assistant' | translate"></span>&nbsp;
      <span
        [innerHTML]="', CaseActive empowers you with streamlined document and media handling, private' | translate"
      ></span
      >&nbsp;<span class="u" [innerHTML]="'client-to-customer communications' | translate"></span>,&nbsp;
      <span [innerHTML]="'event scheduling, and step-by-step case processing.' | translate"></span>
    </span>
    <div class="left-side-wrapper"></div>
    <div class="bottom-image-gradient"></div>
  </div>

  <article style="padding-top: 115px">
    <h2 class="header-a" [innerHTML]="'Self-Serve Administration' | translate"></h2>
    <p
      class="size-a"
      [innerHTML]="
        'Acting as a virtual administrative assistant, CaseActive empowers you with streamlined document and media handling, private client-to-customer communications, event scheduling, and step-by-step case processing.'
          | translate
      "
    ></p>
  </article>
  <div class="news-c" style="display: flex; flex-wrap: wrap">
    <article>
      <figure>
        <img src="/images/illustrations/manage.svg" alt="" width="150" height="119" />
      </figure>
      <h3 [innerHTML]="'Manage User Logins &amp; Case Creation' | translate"></h3>
      <p
        [innerHTML]="
          'Directly oversee the creation of user accounts while authorizing their access permissions on a case-by-case basis. Manage case creation, progress, and closing, with full reporting every step of the way.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/illustrations/view_caseactive_analytics.svg" alt="" width="198" height="102" />
      </figure>
      <h3 [innerHTML]="'View Caseactive Analytics' | translate"></h3>
      <p
        [innerHTML]="
          'See exactly how a case is progressing, the number of cases successfully closed, and see response times via CaseActive’s thorough analytics module. Knowledge is power, and we’ve given you everything there is to know about your own projects.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/illustrations/monitor.svg" alt="" width="105" height="120" />
      </figure>
      <h3 [innerHTML]="'Monitor User Logs' | translate"></h3>
      <p
        [innerHTML]="
          'Keep an eye on client and team member logins and platform activity to ensure all their actions are authorized within the case parameters and that all members are performing their duties as required.'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/illustrations/employ.svg" alt="" width="114" height="111" />
      </figure>
      <h3 [innerHTML]="'Employ Advanced Searches' | translate"></h3>
      <p
        [innerHTML]="
          'Find exactly what you need when you need it. Search cases by user and client names, keywords, timelines, uploaded documents, and much more!'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/illustrations/create_custom_fields.svg" alt="" width="160" height="102" />
      </figure>
      <h3 [innerHTML]="'Create Custom Fields' | translate"></h3>
      <p
        [innerHTML]="
          'Generate specialized case fields for client and team member input, and gather the data you need from everyone involved. Make the case interface unique to your business and brand!'
            | translate
        "
      ></p>
    </article>
    <article>
      <figure>
        <img src="/images/illustrations/create_custom_templates.svg" alt="" width="129" height="120" />
      </figure>
      <h3 [innerHTML]="'Create Custom Templates' | translate"></h3>
      <p
        [innerHTML]="
          'Develop an enormous range of custom forms and templates for distribution and completion both during and after a case (like client exit surveys). Whatever form you need, you can create!'
            | translate
        "
      ></p>
    </article>
  </div>
</section>
