<article class="module-f" id="content">
  <figure>
    <img alt="Placeholder" width="108" height="120" src="images/effortlessly.svg" />
  </figure>
  <h2 translate>We&#39;re here to help</h2>
  <header>
    <p translate>
      Thank you for contacting us. Your message has been successfully sent. We will contact you very soon!
    </p>
  </header>

  <!--  <ul class="list-e">-->
  <!--    <li>-->
  <!--      <a routerLink="/login" translate>Login</a>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <a routerLink="/reset-password" translate>Forgot password?</a>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <a routerLink="/support" translate>Help</a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <footer></footer>
</article>
