<div class="pv-wrapper">
  <div class="password-must">Password must:</div>
  <ul *ngIf="boxType === 'new_password'">
    <li class="lowerCharacter" [ngClass]="containLowerSymbol ? 'valid' : 'not-valid'" translate>
      Have at least one lower case character
    </li>
    <li class="capitalCharacter" [ngClass]="containCapitalSymbol ? 'valid' : 'not-valid'" translate>
      Have at least one capital letter
    </li>
    <li class="numberCharacter" [ngClass]="containNumber ? 'valid' : 'not-valid'" translate>
      Have at least one number
    </li>
    <li class="lengthCharacters" [ngClass]="containtMinimalLength ? 'valid' : 'not-valid'" translate>
      Have at least 8 characters in length
    </li>
  </ul>
  <ul *ngIf="boxType === 'current_password'">
    <li class="currentPassword not-valid" translate>Type your current password</li>
  </ul>
  <ul *ngIf="boxType === 'confirm_password'">
    <li class="passwordMatch" [ngClass]="passwordMatch ? 'valid' : 'not-valid'" translate>Passwords must match</li>
  </ul>
</div>
