.pv-wrapper {
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  max-width: 280px;
  padding: 20px;
  position: absolute;
  margin-top: 55px;
  background-color: #fff;
  z-index: 999;
}

.pv-wrapper::after {
  position: absolute;
  border-color: #dbdbdb;
  border-width: 1px 1px 0 0;
  height: 15px;
  width: 15px;
  border-style: solid;
  content: '';
  background-color: #fff;
  top: -14px;
  left: 50%;
  transform: rotate(-45deg) translateX(-50%);
}

.password-must {
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding-left: 20px;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}

ul li.not-valid {
  color: #ff5722;
}

ul li.valid::after {
  background-color: #47cf73;
}

ul li.not-valid::after {
  background-color: #ff5722;
}

ul li.neutral::after {
  background-color: #fff;
  border: 1px solid #47cf73;
}

ul li::after {
  content: '';
  position: absolute;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 5px;
}
