<form title="upload-document" class="popup-a a form-d shown">
  <div class="box-outer">
    <div class="box-inner">
      <h2 translate>Access Denied</h2>

      <div class="form">
        <div class="form-container">
          <div class="form-block">
            <div class="module-d">
              <div class="text-center empty-search">
                <img class="no-case-background" width="350" height="150" src="images/illustrations/desktop.svg" />
                <p translate>You don't have access to this case.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="close" (click)="close()" translate>Close</a>
    </div>
    <a class="close" (click)="close()" translate>Close</a>
  </div>
</form>
